---
layout:     default
title:      Laurence Foley
subtitle:   Web Development
page:       home
---

<!--
====================================
    PORTFOLIO
====================================
-->

<section class="page__section--portfolio">

  <div class="wrapper">

    <header class="page__section__header">
      <h2 class="page__section__title">Portfolio</h2>
      <hr class="hr">
    </header>

    <div class="grid">
      <div class="grid__col grid__col--3-of-6 grid__col--centered">
        <ul class="portfolio__list">
        {% for project in site.portfolio limit:3 %}
          <li class="portfolio__card">

            <header class="portfolio__card__header">
                <h2 class="portfolio__card__title">{{ project.name }}</h2>
            </header>
            
            <div class="portfolio__card__content">
              <!-- <div class="box"></div> -->
              {{ project.content }}
              <a href="{{ project.link }}" class="button--light">Visit Site</a>
              {% if project.github %}
              <div>
                <a href="{{ project.github }}" class="link">
                  <img src="/assets/icons/github-light.png" width="20" alt="github">
                  View Source Code
                </a>
              </div>
              {% endif %}
            </div>

          </li>
        {% endfor %}
        </ul>
        <!-- <a href="/portfolio.html">See All</a> -->
      </div>
    </div>


  </div>

</section>

<!--
====================================
    CONTACT
====================================
-->

<section class="page__section--portfolio">

  <div class="wrapper">

    <header class="page__section__header">
      <h2 class="page__section__title" id="contact">Contact</h2>
      <hr class="hr">
    </header>
    <div class="grid">
      <div class="grid__col grid__col--3-of-6 grid__col--centered">
      {% include form-contact.html %}
      </div>
    </div>
  </div>

</section>
