<form class="form--contact" action="#" method="">
  <div class="form__field">
    <!-- <label for="name" id="test">Name:</label> -->
    <input type="text" id="name" name="name" placeholder="NAME..." class="form__input">
  </div>
  <div class="form__field">
    <!-- <label for="email">Email:</label> -->
    <input type="email" id="name" name="email" placeholder="EMAIL..." class="form__input">
  </div>
  <div class="form__field">
    <!-- <label for="message">Message:</label> -->
    <textarea name="message" rows="8" cols="40" id="message" placeholder="LEAVE A MESSAGE..." class="form__textarea"></textarea>
  </div>
  <input type="submit" name="name" value="Submit" class="button">
</form>
