<head>
  <noscript>
    <div class="noscript">
      <p>
        For full functionality of this site it is necessary to enable JavaScript.
        Here are the <a href="http://www.enable-javascript.com/" target="_blank">
        instructions how to enable JavaScript in your web browser</a>.
      </p>
    </div>
  </noscript>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="description">
  <meta name="author" content="laurence foley">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Signika:400,300,600,700">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
</head>
