<nav class="site-nav">
  <div class="wrapper">
    <a href="site-nav__logo"></a>
    <button class="site-nav__button">
      <img src="/assets/icons/menu.png" alt="menu">
    </button>
    <ul class="site-nav__list">
      <li class="site-nav__item">
        <a href="/" class="site-nav__link">Home</a>
      </li>
      <li class="site-nav__item">
        <a href="/#contact" class="site-nav__link scroll">Contact</a>
      </li>
      <li class="site-nav__item">
        <a href="/portfolio.html" class="site-nav__link scroll">Portfolio</a>
      </li>
      <li class="site-nav__item">
        <a href="/practice-projects.html" class="site-nav__link">Projects</a>
      </li>
    </ul>
  </div>
</nav>
